hr{
    height: 1px;
    background-color: rgb(221, 219, 219);
    border: none;
}

.container {
    margin-left: 10px;
}

.header {
    margin-top: -10px;
    margin-left: -10px;
    padding: 0px;
    position: fixed; 
    background-color: white; 
    width: 100%;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}